<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
</head>
<body>

	<div layout:fragment="content">
	
		<div class="container">
			<br>
			<div style="text-align: center">
				<h4>
					<b>Product List</b>
				</h4>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<a href="/product/new" class="btn btn-sm btn-success">New
						Product</a>
				</div>
			</div>
			<br />
			<div th:if="${not #lists.isEmpty(products)}">
				<table class="table table-bordered table-hover table_morecondensed">
					<tr>
						<th>Id</th>
						<th>Description</th>
						<th>Price</th>
						<th>Image URL</th>
						<th>List</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tr th:each="product : ${products}">
						<td th:text="${product.id.toHexString()}"></td>
						<td th:text="${product.description}"></td>
						<td th:text="${product.price}"></td>
						<td th:text="${product.imageUrl}"></td>
						<td><a
							th:href="${'/product/show/' + product.id.toHexString()}"
							class="btn btn-sm btn-secondary">View</a></td>
						<td><a
							th:href="${'/product/edit/' + product.id.toHexString()}"
							class="btn btn-sm btn-warning">Edit</a></td>
						<td><a
							th:href="${'/product/delete/' + product.id.toHexString()}"
							class="btn btn-sm btn-danger">Delete</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</body>

</html>